<form class="formPumaHombres">
    <p >Puma Hombres</p>
    <div class="divider"></div>
    <div class="section">
      <h5>Zapatos</h5>
    </div>

    <div class="row">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://http2.mlstatic.com/D_NP_874336-MCO28052118988_082018-Q.jpg">
              <br><br><br>
              <span class="card-title black">Ignite Limitless</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
              <h2>Precio: Q 600</h2>
              <h2>Talla: 36</h2>
              <h2>Existencia: 80</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://www.shenlivideo.es/images/large/puma%20running-881jvj.jpg">
                <br><br><br>
                <span class="card-title black">Running</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 650</h2>
                  <h2>Talla: 37</h2>
                  <h2>Existencia: 40</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://media.muccashop.com.br/29ece2bbfd90/tenis-puma-scuderia-ferrari-evo-cat-transform-masculino-masculino-preto-vinho.200x200.jpg">
                  <br><br><br>
                  <span class="card-title black">Scuderia</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 750</h2>
                    <h2>Talla: 35</h2>
                    <h2>Existencia: 150</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://pumaimages.azureedge.net/images/192720/01/sv01/fnd/PNA/h/288/w/288">
                <br><br><br>
                <span class="card-title black">Axelion</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 900</h2>
                  <h2>Talla: 37</h2>
                  <h2>Existencia: 100</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://www.coppel.com/images/catalog/pr/8078482-1.jpg">
                  <br><br><br><br><br><br><br>
                  <span class="card-title black">Dare</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 400</h2>
                    <h2>Talla: 36</h2>
                    <h2>Existencia: 85</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://pumaimages.azureedge.net/images/192259/02/sv01/fnd/EEA/h/288/w/288">
                    <br><br><br>
                    <span class="card-title black">Hybrid NX</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 500</h2>
                      <h2>Talla: 35</h2>
                      <h2>Existencia: 25</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://http2.mlstatic.com/tenis-puma-smash-negrogris-hombre-100-originales-36516001-D_NQ_NP_958071-MLM27215172466_042018-F.jpg">
                  <br><br><br>
                  <span class="card-title black">Smash</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 450 </h2>
                    <h2>Talla: 36</h2>
                    <h2>Existencia: 80</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://pumaimages.azureedge.net/images/366935/01/sv01/fnd/PNA/h/288/w/288">
                    <br><br><br>
                    <span class="card-title black">Pacer Next</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 650 </h2>
                      <h2>Talla: 34 </h2>
                      <h2>Existencia: 90</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="http://www.steinkeshorthorns.com/images/large/Steinkes/Popular%20Puma%20Basket%20Classic%20Fading%20Multi%20Puma%20Hombre%20Zapatos%20Puma%20Venta%20de%20descuento%20--%20BTOK4454%2047_LRG.jpg">
                      <br><br><br>
                      <span class="card-title black">Classic</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 600</h2>
                        <h2>Talla: 35</h2>
                        <h2>Existencia: 20</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br>
                    <img src="http://www.lingmcgregor.com/images//pic/pu48um0146_65723.jpg">
                    <br><br><br><br><br><br>
                    <span class="card-title black">Ferrari</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 350 </h2>
                      <h2>Talla: 36 </h2>
                      <h2>Existencia: 65</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://pumaimages.azureedge.net/images/366090/01/sv01/fnd/PNA/h/600/w/600">
                      <br><br><br>
                      <span class="card-title black">Tsugi Apex</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 850</h2>
                        <h2>Talla: 37</h2>
                        <h2>Existencia: 200 </h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="http://www.winbol.es/images/large/winbol.es/Puma%20Fierce%20Engineered%20Mesh%20Mujer%20Gris%20Violet%20Blanco%20F51b9606%20-%20Zapatos%20Puma%20Mujer%20Zapatos%20de%20mujer%202237_LRG.jpg">
                        <br><br><br>
                        <span class="card-title black">Fierce Engineered</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 700</h2>
                          <h2>Talla: 35</h2>
                          <h2>Existencia: 175 </h2>
                      </div>
                    </div>
                  </div>
            </div>
    
    <div class="divider"></div>
    <div class="section">
      <h5>Playeras</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <br><br>
              <img src="https://http2.mlstatic.com/playera-puma-hombre-D_NQ_NP_850309-MLM27995860868_082018-F.jpg">
              <br><br><br><br><br><br>
              <span class="card-title black">Blanca</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 200</h2>
                <h2>Talla: s </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81CbBmYAWIL._SY550_.jpg">
                <br><br><br>
                <span class="card-title black">Gris</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 200</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                    <br><br><br>
                  <img src="https://http2.mlstatic.com/playera-puma-hombre-D_NQ_NP_902222-MLM28242469982_092018-F.jpg">
                  <br><br><br><br><br><br>
                  <span class="card-title black">Manga larga</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 200</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://http2.mlstatic.com/playera-puma-hombre-D_NQ_NP_641415-MLM27995892634_082018-F.jpg">
                <br><br><br>
                <span class="card-title black">Franja blanca</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 200</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/3010312-0001V1.jpg">
                  <br><br><br>
                  <span class="card-title black">XTG</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 200</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://www.dportenis.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/3009166-0000V1.jpg">
                    <br><br><br>
                    <span class="card-title black">Ferrari</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 200</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/3008717-0301V1.jpg">
                  <br><br><br>
                  <span class="card-title black">Azul</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 200</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/3009577-0700V1.jpg">
                    <br><br><br>
                    <span class="card-title black">Amarilla</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 200</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/default/3009634-0105V1.jpg">
                      <span class="card-title black">Classic box</span>
                      <br><br><br>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 200</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/3008737-0303V1.jpg">
                    <br><br><br>
                    <span class="card-title black">Celeste</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 200</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSexEv8ctrsU99Da-r8sxrB6DnAI7NQIsTaCotp4Hrt-ls53e9y_w">
                      <br><br><br>
                      <span class="card-title black">Musgo</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 200</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="https://http2.mlstatic.com/playera-puma-futbol-evotrg-training-verde-D_NQ_NP_724315-MLM26154821372_102017-F.jpg">
                        <br><br><br>
                        <span class="card-title black">Limon</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 200</h2>
                          <h2>Talla: s </h2>
                          <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

    <div class="divider"></div>
    <div class="section">
      <h5>Pants</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://shoppinginibiza.com/51790-large_default/essslim-pants-fl-medium-gray.jpg">
              <br><br><br>
              <span class="card-title black">Gris</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 250</h2>
                <h2>Talla: 24 </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://http2.mlstatic.com/pants-puma-mercedes-hamilton-negro-573206-01-look-trendy-D_NQ_NP_821197-MLM25997367426_092017-F.jpg">
                <br><br><br>
                <span class="card-title black">Negro</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="http://www.tequenoselida.es/image/cache/data/category_3/puma-vintage-track-pants-pantalon-de-deporte-hombre-cremallera-pantalones-modelos-cl-909-500x500.jpg">
                  <br><br><br>
                  <span class="card-title black">Azul</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81JMzdH4GNL._SY550_.jpg">
                <br><br><br>
                <span class="card-title black">Dos colores</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/8135CIv3nkL._SX342_.jpg">
                  <br><br><br>
                  <span class="card-title black">Franja blanca</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br>
                    <img src="http://www.randysmithmusic.com/images//pic/136781365_bF3EN8hjcd.jpg">
                    <br><br><br><br><br><br>
                    <span class="card-title black">Rojo</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                    <br><br><br><br>
                  <img src="http://www.teckeldecamael.es/images/Hombre%20Ropa/kFBnkpIU2JEXDIjtHFrQ5oU9.jpg">
                  <br><br><br><br><br><br><br>
                  <span class="card-title black">Letras puma</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://cdn.fashiola.mx/L532846281/puma-hombre-pantalones-y-leggings-pantalon-n-r-g-actum-masculino.jpg">
                    <br><br>
                    <span class="card-title black">Corinto</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="http://www.yonoteespero.es/images/category_16/Puma%20TRACK%20PANTS%20%20Pantalones%20deportivos%20laurel%20wreath%20Cintura%20elstica%20Tejido%20de%20algodn%20Tapered%20Por%20el%20tobillo%20PU122E023C11.jpg">
                      <br><br><br>
                      <span class="card-title black">Verde</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://mosaic03.ztat.net/vgs/media/pdp-gallery/PU/14/1E/07/NQ/11/PU141E07N-Q11@10.1.jpg">
                    <br><br><br>
                    <span class="card-title black">Negro</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://images.asos-media.com/products/pantalones-de-chandal-super-de-puma/9104585-1-black?$XXL$&wid=513&fit=constrain">
                      <br><br><br><br><br><br>
                      <span class="card-title black">Dos lineas</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="http://www.unsignedmanagement.co/images/category_20/Durable%20Hombre%20Ropa%20Puma%20Pants%20Puma%20It%20Evotrg%20Pant%2065490603%20CAB_4.jpg">
                        <br><br><br>
                        <span class="card-title black">Lineas blancas</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

    <div class="divider"></div>
    <div class="section">
      <h5>Chumpas</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://pumaimages.azureedge.net/images/577980/69/fnd/PNA/w/288/h/288">
              <br><br><br>
              <span class="card-title black">Balotelli</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 300</h2>
                <h2>Talla: s </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://pumaimages.azureedge.net/images/578076/11/fnd/PNA/h/288/w/288">
                <br><br><br>
                <span class="card-title black">Roja</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 300</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://www.textimall.com/wp-content/uploads/2018/09/CHOMPA-FERRARI-NEGRA-ROJA.jpg">
                  <br><br><br>
                  <span class="card-title black">Ferrari</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 300</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://pumaimages.azureedge.net/images/577980/61/fnd/PNA/w/288/h/288">
                <br><br><br><br><br><br>
                <span class="card-title black">Amarilla con negro</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 300</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://mlstaticquic-a.akamaihd.net/buzo-deportivo-puma-en-stock-del-borussia-dortmund-y-italia-D_NQ_NP_619881-MLU25692088843_062017-F.jpg">
                  <br><br><br><br><br><br>
                  <span class="card-title black">BVB</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 300</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://i.pinimg.com/originals/68/35/ae/6835aea26c25fff2b684f37de7961ba4.jpg">
                    <span class="card-title black">Sudadero</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 300</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://dafitistaticco-a.akamaihd.net/p/puma-3071-91556-1-product.jpg">
                  <span class="card-title black">Celeste</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 300</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://images-eu.ssl-images-amazon.com/images/I/41cQoBmUI8L._AC_UL260_SR200,260_.jpg">
                    <br><br><br>
                    <span class="card-title black">Negra</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 300</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <br><br><br>
                      <img src="https://pumaimages.azureedge.net/images/854107/03/fnd/PNA/w/288/h/288">
                      <br><br><br><br><br><br>
                      <span class="card-title black">Gris</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 300</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br><br>
                    <img src="https://pumaimages.azureedge.net/images/578076/06/fnd/PNA/w/288/h/288">
                    <br><br><br><br><br><br><br>
                    <span class="card-title black">Azul</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 300</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="http://www.colegamalaga.es/images/zaPuma-es/PU143G01J-G11.jpg">
                      <br><br><br>
                      <span class="card-title black">Anaranjada</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 300</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="http://www.mginmobiliaria.es/images/zaPuma-es/PU143F009-G11.jpg">
                        <br><br><br>
                        <span class="card-title black">Rojo</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 300</h2>
                          <h2>Talla: s </h2>
                          <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

</form>
