.titulo{
	font-size: 50px;
	color: white;
}

.contactanos{
	font-size: 20px;
}

.salir{
	font-size: 20px;
}

.perfil{
	font-size: 20px;
}

.ingresar{
	font-size: 20px;
}

.registrar{
	font-size: 20px;
}