<form class="formAdidasNiñas">
    <p >Adidas Niñas</p>
    <div class="divider"></div>
    <div class="section">
      <h5>Zapatos</h5>
    </div>

    <div class="row">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://http2.mlstatic.com/tenis-adidas-para-dama-deportivo-color-negro-mod548250-D_NQ_NP_983805-MLM27770471825_072018-F.jpg">
              <br><br><br><br><br>
              <span class="card-title black">mod 548250</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="large 
                +material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
              <h2>Precio: Q 900</h2>
              <h2>Talla: 35</h2>
              <h2>Existencia: 100</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
              <br><br><br><br>
                <img src="https://http2.mlstatic.com/tenis-adidas-eqt-negro-rosa-neon-original-D_NQ_NP_834727-MLM26054504585_092017-F.jpg">
              <br><br><br><br><br><br>
                <span class="card-title black">Eqt</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 450</h2>
                  <h2>Talla: 36</h2>
                  <h2>Existencia: 40</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/default/1014699-0011V1.jpg">
                  <br><br><br>
                  <span class="card-title black">Edgebounce</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 950</h2>
                    <h2>Talla: 37</h2>
                    <h2>Existencia: 200</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                  <br><br><br><br><br>
                <img src="https://images-na.ssl-images-amazon.com/images/I/81qhy5K21fL._UX625_.jpg">
                <br><br><br><br><br><br>
                <span class="card-title black">Superstar</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 1000</h2>
                  <h2>Talla: 35</h2>
                  <h2>Existencia: 100</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://http2.mlstatic.com/tenis-adidas-swift-todas-rosadas-para-dama-zapatillas-2018-D_NQ_NP_744556-MCO26998159008_032018-F.jpg">
                  <br><br><br>
                  <span class="card-title black">Swift</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 800</h2>
                    <h2>Talla: 34</h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/1014097-1111V1.jpg">
                    <br><br><br>
                    <span class="card-title black">NWJ65</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 500</h2>
                      <h2>Talla: 35</h2>
                      <h2>Existencia: 25</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/1014104-1101V1.jpg">
                  <br><br><br>
                  <span class="card-title black">Fortarun</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 600</h2>
                    <h2>Talla: 37</h2>
                    <h2>Existencia: 75</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://www.dpstreet.mx/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/1014094-1111V1.jpg">
                    <br><br><br>
                    <span class="card-title black">Pharrell</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 350</h2>
                      <h2>Talla: 36</h2>
                      <h2>Existencia: 100</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                        <br><br><br><br><br>
                      <img src="http://www.oteasturias.es/images/oteasturias/Spain-Adidas-Nmd-Mujer-Spy1297.jpg">
                      <br><br><br><br><br><br>
                      <span class="card-title black">NMD</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 800</h2>
                        <h2>Talla: 37</h2>
                        <h2>Existencia: 150</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br>
                    <img src="https://i2.wp.com/thehappening.com/wp-content/uploads/2017/03/adidas-mujer-ultra-boost-x-4.jpg?ssl=1">
                    <br><br><br><br><br><br>
                    <span class="card-title black">Ultra-Boost</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 650</h2>
                      <h2>Talla: 34</h2>
                      <h2>Existencia: 90</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU8fUlL4ZinPIC-0Pyv1FoXmjFjtAF7utQJ_wRM1Ny77wtoNXt">
                      <br><br><br>
                      <span class="card-title black">Cloud</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 750</h2>
                        <h2>Talla: 35</h2>
                        <h2>Existencia: 60</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="http://www.ifixurdevice.com/wp-content/uploads/2018/03/tenis-para-correr-nike-mujer-nike-air-max-advantage-rosa-y-blanco.jpg">
                        <br><br><br>
                        <span class="card-title black">Advantage</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 450</h2>
                          <h2>Talla: 36</h2>
                          <h2>Existencia: 100</h2>
                      </div>
                    </div>
                  </div>
            </div>
    
    <div class="divider"></div>
    <div class="section">
      <h5>Playeras</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/783706f19f76432e8001a9a8009ef539_9366/playera-estilo-vintage-de-beisbol.jpg">
              <br><br><br>
              <span class="card-title black">Lineas Verdes</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 200</h2>
                <h2>Talla: s </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
                <br><br><br><br>
              <div class="card-image">
                <img src="https://http2.mlstatic.com/playera-adidas-originals-dama-br8054-dancing-originals-D_NQ_NP_664362-MLM26445768613_112017-F.jpg">
                <br><br><br><br>
                <span class="card-title black">Blanca</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 200</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://http2.mlstatic.com/playera-adidas-adidas-D_NQ_NP_981898-MLM26464709289_112017-F.jpg">
                  <br><br><br>
                  <span class="card-title black">Negra</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 200</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                  <br><br><br><br>
                <img src="https://http2.mlstatic.com/playera-adidas-para-mujer-con-las-mejores-tecnologias-texti-D_NQ_NP_184101-MLM20274513571_042015-F.jpg">
                <br><br><br>
                <span class="card-title black">Rosada</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 200</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                    <br><br><br><br>
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/3f5b4b27c0784cedb60aa94d0101942a_9366/playera-trifolio.jpg">
                  <br><br><br>
                  <span class="card-title black">Verde</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 200</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://www.futbolemotion.com/imagesarticulos/115003/grandes/camiseta-adidas-real-madrid-away-2017-2018-mujer-black-aero-reef-0.jpg">
                    <br><br><br>
                    <span class="card-title black">Real Madrid</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 200</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                    <br><br><br><br><br><br><br>
                  <img src="https://http2.mlstatic.com/zapatillas-adidas-xplr-ninas-mcventclub-D_NQ_NP_693517-MLA25967607826_092017-F.jpg">
                  <br><br><br><br><br><br>
                  <span class="card-title black">x_plr el l</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 200</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br><br><br>
                    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRidM5Mhm8SieJNKEIsH_4qCArigVecpKS839_3JPupoedlXuX0k8-xRcgQyeLOWGHflhzSX-ziaGg&usqp=CAc">
                    <br><br><br><br>
                    <span class="card-title black">X plr</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 200</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSgDutItXEY7usBD_CHTwP9Gs45OXJC52bgi4US16o2RIJIRv3R8qrhFcojSfQS3jIyVnHn5mPCl48&usqp=CAc">
                      <span class="card-title black">Sneaker</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 200</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTKlYiPN92MrK9vQdHue_qsP6yNYirYkyqgA0KTSnRag38PNCFNEcEtqHHtYlvTUr3UFuEmPJWgFg&usqp=CAc">
                    <br><br><br>
                    <span class="card-title black">Racer TR</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 200</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRE1F3ESPHHE0mSOVy2AGxCcj-bvA2U9NMWXAbtQ8XG6Tdy6opbjRj3A6bOxRJjh9osa2BR178a5Q&usqp=CAc">
                      <br><br><br>
                      <span class="card-title black">Superstar Casual</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 200</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRk52JCRR3aS-x_wvrggiqRMlOVzUtyrY2tFHxi7PTuCGCumYt1iwZFffjnvcVDpi7zrcIgBiDsfwI&usqp=CAc">
                        <br><br><br>
                        <span class="card-title black">K Sneaker</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 200</h2>
                          <h2>Talla: s </h2>
                          <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

    <div class="divider"></div>
    <div class="section">
      <h5>Pants</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/dbcacc341e0e4319abbda83200dc94d8_9366/mallas-grphc.jpg">
              <span class="card-title black">2 piezas</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 250</h2>
                <h2>Talla: 24 </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTBUx_wRA6aMgeaCRQ2oDhzHvEUSsHgY_226hX20lHrZjFqc5hWp2qN7sVFcjpn4oyV7ynxQCbDkg&usqp=CAc">
                <br><br><br><br><br>
                <span class="card-title black">Trefoil Jogger</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR884dAAXWKpqOgZV54ABh6YJAUVdxz_-5ifmbexgjcvT81cN6o3sDVrO7Ww0rN0EF3sZzT1Be5JNM&usqp=CAc">
                  <br><br><br><br><br>
                  <span class="card-title black">SST Track</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/d51d52fff6b743e897bfa92a00c88a6b_9366/mallas-3-franjas.jpg">
                <br><br><br>
                <span class="card-title black">Originals Franjas</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/984c4c32a19143cb975aa8260009e60b_9366/mallas-training.jpg">
                  <br><br><br>
                  <span class="card-title black">Run Training</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/46c43ef0b1664c38a6b6a6b801330010_9366/mallas-deportivas.jpg">
                    <br><br><br>
                    <span class="card-title black">Mallas Originals</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/45b3c8c37da145f3a4a8a8bf00a20f0a_9366/tights-1-1-l-zoo-leggings.jpg">
                  <br><br><br>
                  <span class="card-title black">L ZOO</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/230f62a8364245d0a3c8a97c016be5a1_9366/pants-lg-spacer-knit.jpg">
                    <br><br><br>
                    <span class="card-title black">LG SPACER KNIT</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/fc1fcc041a56417498e9a97c01724f77_9366/pants-lg-spacer-knit.jpg">
                      <br><br><br>
                      <span class="card-title black">LG SPACER</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br><br>
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/eff79c4cfe554d41b00ea8ba00b17fdb_9366/mallas-little-girls-cotton.jpg">
                    <br><br><br><br><br>
                    <span class="card-title black">Mallas</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/15bf710ed1694e34bcc3a87001132259_9366/pants-linear.jpg">
                      <br><br><br>
                      <span class="card-title black">Pants Linear</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                          <br><br><br><br><br>
                        <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/23bbc1f710f347c7ab18a8a8012115bc_9366/tights-1-1-lg-tr-tight.jpg">
                        <br><br><br><br><br><br><br><br><br><br><br>
                        <span class="card-title black">LG TR</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 250</h2>
                  <h2>Talla: 24 </h2>
                  <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

    <div class="divider"></div>
    <div class="section">
      <h5>Pantalonetas</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/e04667d6219849afa27aa946010d335a_9366/shorts-supernova-saturday.jpg">
              <span class="card-title black">SUPERNOVA</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 150</h2>
                <h2>Talla: s </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <br><br><br><br>
                <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/f6fcc56a71a34d7c96bea9660129a740_9366/shorts-marathon-20.jpg">
                <br><br><br><br>
                <span class="card-title black">MARATHON 20</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 150</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <br><br><br><br>
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/98220307484b4d1cb2bfa988012bfc37_9366/shorts-3-rayas.jpg">
                  <br><br><br><br>
                  <span class="card-title black">3 RAYAS</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 150</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/e7d41ae9a01e4ad08fe2a95000cb0438_9366/shorts-fr-2in1-shrt-ai.jpg">
                <br><br><br>
                <span class="card-title black">FR 2IN1</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 150</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/5f11874661e1482a843aa99e011d27c9_9366/shorts-supernova-saturday.jpg">
                  <br><br><br><br>
                  <span class="card-title black">SUPERNOVA SATURDAY</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 150</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/d5b7a76c626c4b1797fea8b900befc68_9366/shorts-w-trail-short.jpg">
                    <br><br><br><br>
                    <span class="card-title black">SHORTS TRAIL</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 150</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <br><br>
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/d259c2a451074ffc93cda9280107291a_9366/shorts-sub-2-split-w.jpg">
                  <br><br><br><br>
                  <span class="card-title black">SUB 2 SPLIT</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 150</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                      <br><br><br>
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/c2286bba6924461a9c2aa96200fca3a3_9366/shorts-marathon-20.jpg">
                    <br><br><br>
                    <span class="card-title black">MARATHON 20</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 150</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/e8fd64dbc11340d08f97a97d00995c2d_9366/shorts-hiit-short.jpg">
                      <span class="card-title black">HIIT SHORT</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 150</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/e3f473d0dbbe4b4a82caa85000d3698d_9366/shorts-dos-en-uno-chill.jpg">
                    <br><br><br>
                    <span class="card-title black">DOS EN UNO</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 150</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/c7addb5515274d09928fa83e016cd8f7_9366/shorts-m10.jpg">
                      <br><br><br>
                      <span class="card-title black">M10</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 150</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                        <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/6f48240d3a2646aab13da88900b705f6_9366/shorts-ultra-wrap.jpg">
                        <br><br><br>
                        <span class="card-title black">ULTRA WRAP</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 150</h2>
                          <h2>Talla: s </h2>
                          <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

    <div class="divider"></div>
    <div class="section">
      <h5>Chumpas</h5>
    </div>

    <div class="row letranegra">
        <div class="col s4 m2">
          <div class="card">
            <div class="card-image">
              <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/aa9e5ba737e14d908788a81700c212be_9366/chubasquero-core-18.jpg">
              <br><br><br>
              <span class="card-title black">CHUBASQUERO CORE 18</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
                <h2>Precio: Q 300</h2>
                <h2>Talla: s </h2>
                <h2>Existencia: 50</h2>
            </div>
          </div>
        </div>

        <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/7f8d208d532a44c3a6dfa919012c6abd_9366/cortavientos-con-capucha-must-haves.jpg">
                <br><br><br>
                <span class="card-title black">CORTAVIENTOS MUST HAVES</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 300</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/1e6c12fcb3a24d5a8e0ba9b301455d4e_9366/cortavientos-id-hype.jpg">
                  <br><br><br>
                  <span class="card-title black">ID HYPE</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 300</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>
      </div>

      <div class="row letranegra">
          <div class="col s4 m2">
            <div class="card">
              <div class="card-image">
                <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/b5c3dc78cd2440278ca5a96700b60736_9366/chaqueta-con-capucha-id-wnd.jpg">
                <br><br><br>
                <span class="card-title black">ID WND</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
              </div>
              <div class="card-content">
                  <h2>Precio: Q 300</h2>
                  <h2>Talla: s </h2>
                  <h2>Existencia: 50</h2>
              </div>
            </div>
          </div>

          <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/c1ceafc7aa064194b502a91f00b1b40a_9366/chaqueta-himno-real-madrid.jpg">
                  <br><br><br>
                  <span class="card-title black">HIMNO REAL MADRID</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 300</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/fe74a736fcc34155ab87a80f0137668a_9366/chubasquero-core-18.jpg">
                    <br><br><br>
                    <span class="card-title black">CHUBASQUERO 18</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 300</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
        </div>

        <div class="row letranegra">
            <div class="col s4 m2">
              <div class="card">
                <div class="card-image">
                    <br><br><br>
                  <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/b8da21eef48d41ee90eaa94d014679f2_9366/camiseta-tape.jpg">
                  <br><br><br><br><br><br>
                  <span class="card-title black">CAMISETA TAPE</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h2>Precio: Q 300</h2>
                    <h2>Talla: s </h2>
                    <h2>Existencia: 50</h2>
                </div>
              </div>
            </div>

            <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/74bb27964aa744f98284a8a3011a6bb6_9366/chaqueta-sst.jpg">
                    <span class="card-title black">CHAQUETA SST</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 300</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>

              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                        <br><br><br>
                      <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/157b0ce322584426a7bfa7bb01003bcb_9366/chaqueta-con-capucha-adidas-z.n.e.-primeknit.jpg">
                      <br><br><br><br><br><br>
                      <span class="card-title black">CAPUCHA Z.N.E</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 300</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row letranegra">
              <div class="col s4 m2">
                <div class="card">
                  <div class="card-image">
                    <br><br>
                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/7f20cb77387b4ecaa9dfa76701152525_9366/sudadera.jpg">
                    <br><br><br>
                    <span class="card-title black">SUDADERA</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                  </div>
                  <div class="card-content">
                      <h2>Precio: Q 300</h2>
                      <h2>Talla: s </h2>
                      <h2>Existencia: 50</h2>
                  </div>
                </div>
              </div>
  
              <div class="col s4 m2">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/ba4449e77127456f85a1a80900f3d16a_9366/sudadera-eqt.jpg">
                      <span class="card-title black">EQT</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <h2>Precio: Q 300</h2>
                        <h2>Talla: s </h2>
                        <h2>Existencia: 50</h2>
                    </div>
                  </div>
                </div>
  
                <div class="col s4 m2">
                    <div class="card">
                      <div class="card-image">
                          <br><br>
                        <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive,fl_lossy/41bd69e2c6134e9ea0bda89000f83a49_9366/sudadera-wanderlust-cropped.jpg">
                        <br><br><br>
                        <span class="card-title black">WANDERLUST CROPPED</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                      </div>
                      <div class="card-content">
                          <h2>Precio: Q 300</h2>
                          <h2>Talla: s </h2>
                          <h2>Existencia: 50</h2>
                      </div>
                    </div>
                  </div>
            </div>

</form>